mkdir -p /storage/emulated/0/Delta/Autoexecute && cat << 'EOF' > /storage/emulated/0/Delta/Autoexecute/autoexec.txt
script_key="F32B23F3D639BC8EA1821903BCEE5EC7";

loadstring(game:HttpGet("https://github.com/KaelvenSC/config/raw/refs/heads/main/fish.lua"))()
EOF
